@{
    ViewData["Title"] = "Smart Apartment Data";
}

<div class="row">
    <div class="col">
        <div class="pull-right">
            <a href="/swagger" target="_blank" class="btn btn-success">Smart Apartments Data API</a>
        </div>
    </div>
    <div class="col col-sm-6 col-sm-offset-3 pt-5 mt-5">
        <h3 class="center-block">@ViewData["Title"]</h3>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="What are you looking for?"/>
            <label class="text-danger pt-5">This is still in development. Please use API to search.</label>
        </div>
    </div>
</div>
