@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://localhost:57678/swagger/index.html" target="_blank" class="btn btn-success btn-sm">API</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
